TD3/ListePieces.dtd

<!ELEMENT ListePieces (Piece+)>
<!ELEMENT Piece (Description,Prix)>
<!ELEMENT Prix (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ATTLIST Piece
	reference ID #REQUIRED
	modele (2CV|Mini|Coccinelle) "2CV"
	disponibilite (unique|
	commandable_chez_constructeur) "unique"
	etat (neuf|stock_invendu|occasion) "neuf">
