TD3/work/ListePieces_avec_lot.dtd

<!ELEMENT ListePieces (Piece|Lot)+>
	<!ELEMENT Piece (Description,Prix) >
	<!ELEMENT Description (#PCDATA)>
	<!ELEMENT Prix (#PCDATA)>
	<!ATTLIST Piece 
		reference ID #REQUIRED
		modele (Coccinelle|2CV|Mini) #REQUIRED 
		dispo (unique|commandable_chez_constructeur) "unique"
		etat (neuf|stock_invendu|occasion) #REQUIRED 
		test CDATA #IMPLIED>
<!ELEMENT Lot (Nom,Prix)>
<!ELEMENT Nom (#PCDATA)>
<!ATTLIST Lot 
	references IDREFS #REQUIRED>
